body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#2394D5 50%, #124D6F);
  margin: 0;
}

h1, h2, h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size:medium ;
  font-weight: bold;
}

a {
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

p, span, label {
  color: black;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.login-form {
  width: 24vw;
  max-width: 400px; /* Limita o tamanho em telas maiores */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
              0 1px 1px rgba(128, 128, 128, 0.155),
              0 2.1px 2.1px rgba(128, 128, 128, 0.195),
              0 4.4px 4.4px rgba(128, 128, 128, 0.241),
              0 12px 12px rgba(128, 128, 128, 0.35);
  color: white;
}

img {
  width: 100px;
}

.form-input-material {
  margin: 12px 0;
  width: 100%;
  position: relative;
}

.form-input-material input {
  width: 100%;
  padding: 10px;
  background: none;
  border: solid #686868 2px;
  border-bottom: 2px solid white;
  color: black;
  font-size: 16px;
  outline: none;
}

.form-input-material input:focus {
  border-bottom-color: #1e90ff;
}

.form-input-material label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  color: #686868;
  transition: all 0.2s ease-in-out;
}

.form-input-material input:focus + label,
.form-input-material input:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
  color: #1e90ff;
  font-size: 12px;
}

.btn {
  width: 100%;
  padding: 10px 0;
  background-color: #1e90ff;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn:hover {
  background-color: #4682b4;
}

.custom-padding-right {
  padding-right: 40px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Posiciona o ícone à direita do campo de input */
  transform: translateY(-50%);
  background: url(../assets/eye-fill.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon.hide {
  background: url(../assets/eye-slash-fill.svg);
  background-size: cover;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  .login-form {
    width: 90vw;
    padding: 30px 20px;
  }

  .icon {
    right: 15px;
    width: 20px;
    height: 20px;
  }

  h1, h2, h3 {
    font-size: 1.5em;
  }
}
